.page-sidebar {
    min-height: 81vh;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: #e1bee7;


    #indice li ul {
        height: 0;
        overflow: hidden;
    }
    #indice li:hover ul, #indice li:focus ul {
        height: auto;
    }
}

.page-nav {
    grid-column: 2 / 3;
    background: #bbdefb;
}


