table, th, td {
    border: 1px solid black;
    border-collapse: collapse;     
  }

  .table{
      
      &__1{
          width: 100%;          
      }
  }

  @media screen and (max-width: 320px) {
    table {
      display: block;
      overflow-x: auto;
    }
}